body {
	font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.app {
	width: 1024px;
	height: 768px;
	background-color: black;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 0.1fr 0.3fr 0.6fr;
}

.menu-bar {
	background-color: #444;
}

.friend-list {
	background-color: #333;
}

.chat-screen {
	display: grid;
	background-color: #FAFAFA;
}

.status-bar {
	height: 60px;
	background-color: #222;
}

.message-list {
	padding: 20px;
	max-height: 640px;
}

.message-wrapper {
	p {
		margin: 0px;
		font-size: 13px;
	}

	.message {
		min-height: 20px;
		min-width: 20px;
		padding: 5px 10px;
		background-color: #111;
		color: white;
	}
}

.timestamp {
	p {
		margin: 5px 0 0;
		font-size: 11px;
	}
}

.chat-block {
	// border: 1px solid #111;
	min-height: 20px;
	margin: 5px 0px;
	display: flex;

	&:last-child {
		margin-bottom: 0px; 
	}

	&.other {
		justify-content: flex-start;
		.message-wrapper {
			.message {
				border-radius: 0px 10px 10px 10px;
			}
		}
	}

	&.you {
		justify-content: flex-end;
		.message-wrapper {
			.message {
				border-radius: 10px 10px 0px 10px;
			}
			.timestamp {
				text-align: right;
			}
		}
	}
}